# registry
# registry = https://registry.npmjs.org # npm
# registry = https://registry.yarnpkg.com # yarn
# registry = http://r.cnpmjs.org # cnpm
# registry = https://registry.npm.taobao.org # taobao(挂了)
registry = https://registry.npmmirror.com # taobao
# registry = https://npm.aliyun.com # aliyun
# registry = https://mirrors.cloud.tencent.com/npm/ # tencent
